<h1>Welcome to Artur Janka portfolio</h1>
<p>The following are samples of my work. In each case I have had a significant (if not sole) development role. </p>
<br>
<p>The designs are the product of different firms and individuals that I have worked with. </p>
<p>To learn more about what I've done or if you have questions about a specific project </p>

<a class ="btn btn-primary">Test</a>
