
<div class="wrapper wrapper_padding clearfix">
    
    <div align="center">
      <h1>Welcome to Artur Janka portfolio</h1>
      <hr>
    </div>
    <div class="row">
        <div class="col-1 homepage_content">
            <div class="thumbnail">
             <img src="https://dl.dropboxusercontent.com/s/8vhnjnb95n3cj5m/sesja_4.jpg?dl=0">
           
            </div>
        </div>
            
        <div class="col-2 homepage_content">
            <p>The following are samples of my work. In each case I have had a significant (if not sole) development role. </p>
            <br>
            <p>The designs are the product of different firms and individuals that I have worked with. </p>
            <p>To learn more about what I've done or if you have questions about a specific project </p>
        </div>
    </div>
</div>