<h1>Artur Janka</h1>
<h3>1 Glenard Avenue, North Circular Road, Dublin 7</h3>
<p>Tel: +353894113471
E-mail: arturjanka@gmail.com
Portfolio: https://github.com/ArtoriusXIII </p>
<br>
Profile
<hr>

•	Higher Diploma in Science in Cloud Computing qualification from National College of Ireland.
•	Construction Engineering graduate with 6 years’ experience in logistics and stock administration
•	4 years’ experience in technical support and managing the stock inventory system in Lantec
•	Recently upskilled in cloud computing producing an eCommerce and Marketplace website using Ubuntu environment with Ruby framework language
<br>
Languages: 
•	English (fluent), Polish (native)
<br>
Education:
<hr>
2015-2016 									           National College of Ireland

Higher Diploma in Science in Cloud Computing
Modules: Introduction to Database, Software Development, Web Design, Computer Architecture Operating Systems and Networks, Cloud Application Development, Project, Object Oriented Software Engineering, Cloud Computing in Business, Web Services and API Development, Practical Operating System,
Project
Designed and developed a HR website application using Ruby and Rails 
Designed and developed Sandbox club for selling sport items and renting courts for teams to play inside beach volleyball and soccer using Ruby on Rails. 
Designed and developed a marketplace for customers to sell their stuff with ability to get a small fee from every transaction using Ruby on Rails.

1996-2000 								University of Technology in Opole, Poland
Graduate Diploma in Building and Engineering Structures 
Project designing the specification of a commercial warehouse

<br>
Technical Skills
<hr>
Back end languages: 		Good knowledge of Java | Proficient with Ruby, Ruby on Rails. 
Front end web development: 	Proficient with JavaScript, jQuery, HTML, CSS, AngularJS, Bootstrap;
Database: 			Used MySQL, SQLite, PostgreSQL; in college projects
Portfolio: 			Built my own Git, GitHub, and Heroku;
Accounting software: 	Experience using Sage Accounting Software Sage Quickpay, Sage L50; Excel 2003/2007 for Financial Modelling spreadsheets; SAP knowledge and experience;
Operating Systems:	Linux, Ubuntu, Windows
<br>
Career History:
<hr>
2011 – 2015 			Lantec (UK) Ltd.

Configuration Engineer (Technical Support) 
Responsible for contracts with AIB and Elavon | Managing a small team of technicians | Answering client queries by email / ticketing system in relation to contracts | Interacting with the engineering team to get software issues and bugs resolved | Calibrating and configuration of Credit/Laser card handheld terminals | Contribute ideas to the team to enhance customer satisfaction | Running Diagnostic checks on Modem and Ethernet connections to ensure application downloads | Responsible for the refurbishment for all returned terminals, stock checks and stock movement on Lantec Inventory System & Lantec Management System.
Jul 2011 – Sep 2011 		Eddie Stobart Ireland, Dublin Port 
Logistic administrator
Maintaining of daily stock register system | Producing daily and weekly stock reconciliation reports | Investigation of all operational discrepancies.

Dec 2009 – May 2011 		Arvato-Sonopress Digital Service Ireland Limited 
Logistic administration
Carrying out regular cycle counts/physical inventories | Printing and put away of all labels to the AWH or conventional warehouse | Stock Management- Material Obsolescence – Purge Process | Printing from SAP daily shipping requirements, shipping off SAP “real time” | Daily, weekly stock reconciliation, investigation of all breaks | Liaising with external counterparties in relation to inventory distribution process 

Sep 2006 – May 2008		TDG Logistics 
Logistic officer 
Stock controlling, checking deliveries and stock movements of Baileys & Diageo | Making out orders | Recording returns to suppliers | Dispatching orders | Labelling logistic operations, goods in/out | General administration | Stacking of orders

Jan 2005 – Sep 2006 		EXEL 
Logistic officer: 	Administrative role | checked goods in/out and was responsible for stock inventory

2001 – 2004 			CZB MERCUS Opole
Sales Assistant Manager (building materials parts)
Handling Customer queries | Stock control | Dealing with suppliers and managing daily deliveries | Preparation of invoices

1999 – 2001    			Trans- Kaj, Opole
Forwarder/Purchasing Assistant (Lafarge building materials) 
Stock controller (Logistics and Forwarding office) | Processing and updating customer documentation | Liaising on a daily basis with owners and contracted transport operators.

1996-1999               		Motor Trade Parts, Opole 
Assistant Office Administrator (car parts brand)
Administering the office correspondence and e-mail | Sorting and posting outgoing mail | Filing | Making up information kits and updating records | Monitoring stocks, stationery, printed material and supplies, receives and checking deliveries | Dealing with enquiries and correspondence from clients | Contributing to the routine marketing, dispatch information.

1995-1996 	SHELL Gas Station, Opole
Sales Assistant Manager  
Maintaining and improving sales | ensuring best customer and client service | Inspecting received deliveries | Assisting leads and communications to all the staff  
			 
1994-1995 			J.D Real Estate, Opole 
Real Estate Agent
Valuation of properties | Assistance during sale process | Preparation of monthly management accounts | Customer service | Marketing activities.                                                                        
<br>					  
Interests
<hr>
I.T.	Take online courses on courser.org, codeacademy.com, skillfeed.com, tutsplus.com, Code School, teamtreehouse.com and codingforentrepreneurs.com on Ruby and Ruby on Rails.

Sport:		Member of Dalkey volleyball team, participate in volleyball beach tournaments

Archaeology:	Interest in Viking history and the settlement of Dublin, also enjoy reading about history of Rome.

References available upon request

