<div class="row">
    <div class="col-xs-12 col-md-8">
        <address>
          <h2 strong>Artur Janka</h2><br>
          1 Glenard Avenue,<br>
          North Circular Road, Dublin 7<br>
          <abbr title="Phone">P:</abbr> +353894113471<br>
          <a href="mailto:#">arturjanka@gmail.com</a>
        </address>
    </div>
    <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
                <img src="https://dl.dropboxusercontent.com/s/9tdzb0dy8bibvj6/Artur%20Janka5.jpg?dl=0">
            </div>
    </div>

<br>
<h3 class>Profile</h3>
<hr>
<ul>
	<li>Higher Diploma in Science in Cloud Computing qualification from National College of Ireland.</li>
	<li>Construction Engineering graduate with 6 years’ experience in logistics and stock administration</li>
	<li>4 years’ experience in technical support and managing the stock inventory system in Lantec</li>
	<li>Recently upskilled in cloud computing producing an eCommerce and Marketplace website using Ubuntu environment with Ruby framework language</li>
</ul>
<br>
<h3 class>Languages:</h3>
<ul>
<li><p>English (fluent), Polish (native)</p></li>
</ul>
<br>

    <h3 class>Education:</h3>
    <hr>
    <div class="pull-left"><strong>2015-2016 </strong></div>
    <div class="pull-right"><strong>National College of Ireland</strong></div>
    <br>
    <br>
    <abbr title="Higher">Higher Diploma in Science in Cloud Computing</abbr><br>
    <div class="pull-left"><strong>Modules:</strong></div>
    <p="pull-right"> Introduction to Database, Software Development, Web Design,
    Computer Architecture Operating Systems and Networks, Cloud Application Development, 
    Project, Object Oriented Software Engineering, Cloud Computing in Business, Web Services and API Development, 
    Practical Operating System.</p>
    <div class="pull-left"><strong>Project:</strong></div>
    <p="pull-right">
    Designed and developed a HR website application using Ruby and Rails 
    Designed and developed Sandbox club for selling sport items and renting courts for teams to play inside 
    beach volleyball and soccer using Ruby on Rails. 
    Designed and developed a marketplace for customers to sell their stuff with ability to get a small fee 
    from every transaction using Ruby on Rails.</p>
    <br>
    <div class="pull-left"><strong>1996-2000</strong></div>
    <div class="pull-right"><strong>University of Technology in Opole, Poland</strong></div>
    <br>
    <br>
    <abbr title="Graduate">Graduate Diploma in Building and Engineering Structures</abbr><br>
    <p>Project designing the specification of a commercial warehouse.</p>



    <h3 class>Technical Skills:</h3>
    <hr>
    <div class="pull-left"><strong>Back end languages:</strong></div>
    <p="pull-right">Good knowledge of Java | Proficient with Ruby, Ruby on Rails.</p>
    <div class="pull-left"><strong>Front end web development:</strong></div>
     <p="pull-right">Proficient with JavaScript, jQuery, HTML, CSS, AngularJS, Bootstrap;</p>
    <div class="pull-left"><strong>Database:</strong></div>
    <p="pull-right">Used MySQL, SQLite, PostgreSQL; in college projects</p>
    <div class="pull-left"><strong>Portfolio:</strong></div>
    <p="pull-right">Built my own Git, GitHub, and Heroku;</p>
    <div class="pull-left"><strong>Accounting software:</strong></div>
    <p="pull-right">Experience using Sage Accounting Software Sage Quickpay, Sage L50; Excel 2003/2007 for Financial Modelling spreadsheets; SAP knowledge and experience;</p>
    <div class="pull-left"><strong>Operating Systems:</strong></div>
    <p="pull-right">Linux, Ubuntu, Windows</p>
    <br>


    <h3 class>Career History:</h3>
    <hr>
    <div class="pull-left"><strong>2011 – 2015 :</strong></div>
    <div class="pull-right"><strong>Lantec (UK) Ltd.</strong></div>
    <br><br>
    <abbr title="Career">Configuration Engineer (Technical Support)</abbr><br>
    <p>Responsible for contracts with AIB and Elavon | Managing a small team of technicians | Answering client queries by email / ticketing system in relation to contracts | Interacting with the engineering team to get software issues and bugs resolved |
    Calibrating and configuration of Credit/Laser card handheld terminals | Contribute ideas to the team to enhance customer satisfaction |
    Running Diagnostic checks on Modem and Ethernet connections to ensure application downloads | 
    Responsible for the refurbishment for all returned terminals, stock checks and stock movement on Lantec Inventory System & Lantec Management System.
    </p>
     		 
    <div class="pull-left"><strong>2Jul 2011 – Sep 2011</strong></div>
    <div class="pull-right"><strong>Eddie Stobart Ireland, Dublin Port</strong></div>
    <br><br>
    <abbr title="Career">Logistic administrato</abbr><br>
    <p>Maintaining of daily stock register system | Producing daily and weekly stock reconciliation reports | 
    Investigation of all operational discrepancies.
    </p>
    <div class="pull-left"><strong>Dec 2009 – May 2011</strong></div>
    <div class="pull-right"><strong>Arvato-Sonopress Digital Service Ireland Limited </strong></div>
    <br><br>
    <abbr title="Career">Logistic administration</abbr>
    <br>
    <p>Carrying out regular cycle counts/physical inventories | Printing and put away of all labels to the AWH or conventional warehouse | 
    Stock Management- Material Obsolescence – Purge Process | Printing from SAP daily shipping requirements, shipping off SAP “real time” | 
    Daily, weekly stock reconciliation, investigation of all breaks | Liaising with external counterparties in relation to inventory distribution process.
    </p>
    <div class="pull-left"><strong>Sep 2006 – May 2008</strong></div>
    <div class="pull-right"><strong>TDG Logistics</strong></div>
    <br><br>
    <abbr title="Career">Logistic officer</abbr><br>
    <br>
    <p>Stock controlling, checking deliveries and stock movements of Baileys & Diageo | Making out orders | 
    Recording returns to suppliers | Dispatching orders | Labelling logistic operations, goods in/out | 
    General administration | Stacking of orders.
    </p>
    
    <div class="pull-left"><strong>Jan 2005 – Sep 2006</strong></div>
    <div class="pull-right"><strong>EXEL </strong></div>
    <br><br>
    <abbr title="Career">Logistic officer</abbr><br>
    <br>
    <p>Administrative role | checked goods in/out and was responsible for stock inventory.</p>
    
    <div class="pull-left"><strong>2001 – 2004</strong></div>
    <div class="pull-right"><strong>CZB MERCUS Opole</strong></div>
    <br><br>
    <abbr title="Career">Sales Assistant Manager (building materials parts)</abbr><br>
    <br>  			
    
    <p>Handling Customer queries | Stock control | Dealing with suppliers and managing daily deliveries | Preparation of invoices
    </p>
    
    <div class="pull-left"><strong>1999 – 2001</strong></div>
    <div class="pull-right"><strong>Trans- Kaj, Opole</strong></div>
     <br><br>
    <abbr title="Career">Forwarder/Purchasing Assistant (Lafarge building materials) </abbr><br>
    <br>   			
    <p>Stock controller (Logistics and Forwarding office) | Processing and updating customer documentation | 
    Liaising on a daily basis with owners and contracted transport operators.
    </p>
    <div class="pull-left"><strong>1996-1999 </strong></div>
    <div class="pull-right"><strong>Motor Trade Parts, Opole </strong></div>
     <br><br>
    <abbr title="Career">Assistant Office Administrator (car parts brand)</abbr><br>
    <br>             		
    <p>Administering the office correspondence and e-mail | Sorting and posting outgoing mail | Filing | 
    Making up information kits and updating records | Monitoring stocks, stationery, printed material and supplies, 
    receives and checking deliveries | Dealing with enquiries and correspondence from clients | Contributing to the routine marketing, 
    dispatch information.
    </p>
    <div class="pull-left"><strong>1995-1996</strong></div>
    <div class="pull-right"><strong>SHELL Gas Station, Opole </strong></div>
    <br><br>
    <abbr title="Career">Sales Assistant Manager  r</abbr><br>
    <br>	
    <P>Maintaining and improving sales | ensuring best customer and client service | Inspecting received deliveries |
    Assisting leads and communications to all the staff.
    </p>
    <div class="pull-left"><strong>1994-1995</strong></div>
    <div class="pull-right"><strong>J.D Real Estate, Opole </strong></div>			 
     <br><br>
    <abbr title="Career">Real Estate Agent</abbr><br>
    <br>			
    <p>Valuation of properties | Assistance during sale process | Preparation of monthly management accounts | Customer service | 
    Marketing activities.
    </p>
    <br>

    <h3 class>Interests:</h3>
    <hr>
    <div class="pull-left"><strong>I.T.</strong></div>
    <p="pull-right">Take online courses on courser.org, codeacademy.com, skillfeed.com, tutsplus.com, Code School, teamtreehouse.com and codingforentrepreneurs.com on Ruby and Ruby on Rails.</p>
  	
    <div class="pull-left"><strong>Sport:</strong></div>
    <p="pull-right">Member of Dalkey volleyball team, participate in volleyball beach tournaments</p>
   
    <div class="pull-left"><strong>Archaeology:</strong></div>
    <p="pull-right">Interest in Viking history and the settlement of Dublin, also enjoy reading about history of Rome.</p>
    <br>
    <hr>
    <p="text-align center">References available upon request</p>
</div>