<div align="center">
<h1 id="page_title">Stuff I have Built</h1>
<hr>
    <div class="row clearfix">
        <% @projects.each do |project| %>
            <div class="col-md-4 project">
                <div class="thumbnail">
                    <%= link_to image_tag(project.image.url(:medium)), project %>
                    <div class="caption">
                        <p class="date"><%= project.created_at.strftime('%A %B %d') %></p>
                        <!--<h2><a href="#"><%= link_to project.title, project %></a></h2>-->
                    </div>
                </div>
              
                <hr>
            </div>
        <% end %>
    </div>
    <div class="button_wrapper"> 
        <%= link_to 'New Project', new_project_path, class: "btn btn-primary" %>
    </div>
</div>

